:host {
  display: block;
  --mat-list-list-item-one-line-container-height: 44px;
}

mat-card-content {
  display: grid;
  gap: var(--space-4);
  line-height: 1.45;
}

mat-list {
  padding-top: 0;
}

h3 {
  margin: 0 0 var(--space-2);
  font-size: 1rem;
  line-height: 1.35;
}

mat-chip-listbox {
  display: block;
}

mat-chip-option {
  margin-right: var(--space-2);
  margin-bottom: var(--space-2);
}
